<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../stylesheets/about.css">
  <title>SquareTabs | About Us</title>
  
  <link rel="icon" type="png" href="../images/logo1.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Start First Section -->
  <div class="first-section">
    <!-- Start Nav Bar -->
    <nav>
      <ul>
        <!-- Start Logo Part -->
        <li class="logo">
          <img src="../images/logo1.jpg" alt="">
          <span>Square</span>Tabs
        </li>
        <!-- End Logo Part -->
        <!-- Start Navbar Content -->
        <div class="items">
          <li><a href="../index">Home</a></li>
          <li><a href="/hire">Hiring</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <!-- Start Navbar Content SideNavbar Open with Hamburger -->
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="../index">Home</a>
            <a href="/about">About Us</a>
            <a href="/service">Services</a>
            <a href="/blog">Blog</a>
            <a href="/hire">Hiring</a>
            <a href="/contact">Contact Us</a>
          </div>
          <!-- End Navbar Content SideNavbar Open with Hamburger -->
         
          <!-- Hamburger For Small Screen-->
          <li class="btn hamburger"><span class="fas fa-bars"></span></li>
        </div>
        <!-- ENd Navbar Content -->
      </ul>
    </nav>
    <!-- End Nav Bar -->

    <!-- Start Head Part -->
    <div class="head-part">
      <!-- Start Left Part-->
      <div class="content-1">
        <h5>ABOUT US</h5>
        <h1>We Do Great Things Together</h1>
        <p>Square Tabs is a gateway to a spectrum of cutting-edge services designed to meet your unique needs.Explore our
          site to discover how Square Tabs can elevate your digital experience and bring your ideas to life. Join us on a
          journey where technology meets creativity, and let's build something extraordinary together..</p>
      </div>
      <!-- End Left Part-->


      <!-- Start Right Part-->
      <div class="content-2">
        <!-- Start Image Slider -->
        <div class="ads">
          <div class="images">
            <img src="../images/12.webp">
            <img src="../images/22.webp">
            <img src="../images/25.webp">
          </div>
        </div>
        <!-- End Image Slider-->
      </div>
      <!-- End Right Part-->


    </div>
    <!-- End Head Part -->
  </div>
  <!-- End First Section -->


  <!-- Start Value Section -->
  <div class="client-value-section">
    <div class="client-value">
      <!-- Start Heading Section -->
      <div class="client-heading">
        <h1>What Cients Value Most About Us</h1>
        <p>
          Find a team of digital marketers you can rely on. Every day, we build trust through communication,
          transparency, and results.
        </p>
      </div>
      <!-- End Heading Section -->

      <!-- Start Cards Section -->
      <div class="client-cards">
        <!-- Start Card 1 -->
        <div class="card card1">
          <div class="card-logo">
            <i class="fa-solid fa-shield-halved" style="background-color: #57C09D;"></i>
          </div>
          <div class="card-heading">
            <h4>Transparency</h4>
          </div>
          <div class="card-txt">
            <p>Impressive technical studio's commitment to transparency, their website provides clear insights
              into the range and details of services offered.</p>
          </div>
        </div>
        <!-- End Card 1 -->

        <!-- Start Card 2 -->
        <div class="card card2">
          <div class="card-logo">
            <i class="fa-sharp fa-solid fa-people-group" style="background-color: #FF8A76;"></i>
          </div>
          <div class="card-heading">
            <h4>Experience Team</h4>
          </div>
          <div class="card-txt">
            <p>The technical studio's seasoned team shines through their website, reflecting a wealth of experience and
              proficiency in delivering high-quality services</p>
          </div>
        </div>
        <!-- End Card 2 -->

        <!-- Start Card 3 -->
        <div class="card card3">
          <div class="card-logo"><i class="fa-solid fa-ranking-star" style="background-color:#FFCC67;"></i></div>
          <div class="card-heading">
            <h4>Result Gauranteed</h4>
          </div>
          <div class="card-txt">
            <p>Exceeded our expectations with a website that not only offers a diverse range of services but also
              ensures result guarantees.</p>
          </div>
        </div>
        <!-- End Card 3 -->

        <!-- Start Card 4 -->
        <div class="card card4">
          <div class="card-logo">
            <i class="fa-solid fa-handshake" style="background-color: #01A95A;"></i>
          </div>
          <div class="card-heading">
            <h4>Trustworthiness</h4>
          </div>
          <div class="card-txt">
            <p>
              The technical studio inspires trust with a proven track record showcased on their website, instilling
              confidence in reliability, credibility of their services
            </p>
          </div>
        </div>
        <!-- End Card 4 -->
      </div>
      <!-- End Cards Section -->
    </div>
  </div>
  <!-- End Value Section -->


  <!-- Start About Division-->
  <div class="about-div">
    <div class="friends">
      <!-- Start Section Heading -->
      <div class="friends-heading">
        <div class="underline">
          <h1>OUR FRIENDS</h1>
        </div>
      </div>
      <!-- End Section Heading -->

      <!-- Start Friends Content Part -->
      <div class="friends-content">
        <!-- Start Frnd 1 -->
        <div class="frnd1">
          <div class="friend-image">
            <img src="../images/3a.png" alt="Samtroh_logo">
          </div>
          <h2>SAMTROH</h2>
        </div>
        <!-- End Frnd 1 -->
        
        <!-- Start Frnd 2 -->
        <div class="frnd2">
          <div class="friend-image">
            <img src="../images/Untitled1.png" alt="Adidas_logo">
          </div>
          <h2>CEO Vision</h2>
        </div>
        <!-- End Frnd 2 -->
      </div>
      <!-- End Friends Content Part -->
    </div>
  </div>
  <!-- End About Division-->



  <!-- Start Footer Section -->
  <footer>
    <div class="content">
      <!-- Start Footer Top Part -->
      <div class="bottom">
        <!-- Start Logo Details -->
        <div class="logo-details">
          <img src="../images/logo1.jpg" alt="">
          <span class="logo_name">SquareTabs</span>
        </div>
        <!-- End Logo Details -->
        <!-- Start Social Media Icon Section -->
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
        <!-- End Social Media Icon Section -->
      </div>
      <!-- End Footer Top Part -->

      <hr>

      <!-- Start Footer Body -->
      <div class="link-boxes">
        <!-- Start Menu Section-->
        <ul class="box box1">
          <li class="link_name">Menu</li>
          <li><a href="../index">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/hire">Hiring</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <!-- End Menu Section-->

        <!-- Start Service Section-->
        <ul class="box box2">
          <li class="link_name">Services</li>
          <li><a href="#">Website Design</a></li>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Product Modeling</a></li>
          <li><a href="#">Software Development</a></li>
          <li><a href="#">Software Testing</a></li>
          <li><a href="#">Social Media Handling </a></li>
        </ul>
        <!-- End Service Section-->

        <!-- Start Address Section-->
        <ul class="box box3">
          <li class="link_name">Address</li>
          <li><a href="#">Part 1, A71, Abul Fazal Enclave,</a></li>
          <li><a href="#">Jamia Nagar, Okhla, New Delhi</a></li>
          <li><a href="#">Delhi,110025</a></li>
        </ul>
        <!-- End Address Section-->

        <!-- Start Image Section-->
        <ul class="box input-box">
          <!-- Start Image Slider -->
          <div class="ads">
            <div class="images">
              <img src="../images/a1.jpg">
              <img src="../images/a2.jpg">
              <img src="../images/a3.jpg">
              <img src="../images/a4.jpg">
              <img src="../images/a5.jpg">
              <img src="../images/a6.jpg">
              <img src="../images/a7.jpg">
              <img src="../images/a8.jpg">
              <img src="../images/a9.jpg">
              <img src="../images/a10.jpg">
            </div>
          </div>
          <!-- Start Image Slider -->
        </ul>
        <!-- End Image Section-->
      </div>
      <!-- End Footer Body -->
    </div>


    <!-- Start Footer bottom Part -->
    <div class="footer-txt">
      <div class="footer-txt-content">
      <!-- Start Footer bottom  Left Part -->
      <div class="policy_terms">
         <h4>Privacy Policy</h4>
         <h4>Terms & Conditions</h4>
      </div>
      <!-- End Footer bottom  Left Part -->
      <!-- Start Footer bottom  Right Part -->
      <div class="copyright_text">
         <h4>Copyright ©2024 SquareTabs. </h4>
         <h4>All rights reserved.</span></h4>
      </div>
      <!-- End Footer bottom  Right Part -->
   </div>
</div>
   <!-- End Footer bottom Part -->
</footer>
<!-- End Footer Sectiion -->




  <!-- JavaScript FIle Link -->
  <script src="../javascripts/about.js"></script>

</body>

</html>
