<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../stylesheets/contact.css">
  <title>SquareTabs | Contact Us</title>
  <link rel="icon" type="png" href="../images/logo1.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Start First Section -->
  <div class="first-section">
    <!-- Start Nav Bar -->
    <nav>
      <ul>
        <!-- Start Logo Part -->
        <li class="logo">
          <img src="../images/logo1.jpg" alt="">
          <span>Square</span>Tabs
        </li>
        <!-- End Logo Part -->

        <!-- Start Navbar Content -->
        <div class="items">
          <li><a href="../index">Home</a></li>
          <li><a href="/hire">Hiring</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <!-- Start Navbar Content SideNavbar Open with Hamburger -->
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="../index">Home</a>
            <a href="/about">About Us</a>
            <a href="/service">Services</a>
            <a href="/blog">Blog</a>
            <a href="/hire">Hiring</a>
            <a href="/contact">Contact Us</a>
          </div>
          <!-- End Navbar Content SideNavbar Open with Hamburger -->

          <!-- Hamburger For Small Screen-->
          <li class="btn hamburger"><span class="fas fa-bars"></span></li>
        </div>
        <!-- ENd Navbar Content -->
      </ul>
    </nav>
    <!-- End Nav Bar -->
  </div>
  <!-- End First Section -->



  <!-- Start Contact Section -->
  <div class="section-4">

    <!-- Start Contact-Modal -->
    <div class="contact-div1">
      <h1 class="">Let's Get In Touch</h1>
      <h1>Contact Us</h1>
      <div class="line-container">
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
      </div>
    </div>
    <!-- End Contact-Modal -->


    <!-- Start Contact Method -->
    <div class="contact-div2">
      <!-- Start Box 1 -->
      <div class="logo1">
        <div class="logo-design">
          <div class="logo-shadow">
            <div class="logo">
              <i class="fa-solid fa-envelope"></i>
            </div>
          </div>
        </div>
        <div class="logo-txt">
          <p class="mb-2">iharish@gmail.com</p>
          <p class="mb-0">ibaranwal@gmail.com</p>
        </div>
      </div>
      <!-- End Box 1 -->

      <!-- Start Box 2 -->
      <div class="logo2">
        <div class="logo-design">
          <div class="logo-shadow">
            <div class="logo">
              <i class="fa-solid fa-phone"></i>
            </div>
          </div>
        </div>
        <div class="logo-txt">
          <p class="mb-2">+91 87078 42353</p>
          <p class="mb-0">+91 99999 35091</p>
        </div>
      </div>
      <!-- End Box 2 -->

      <!-- Start Box 3 -->
      <div class="logo3">
        <div class="logo-design">
          <div class="logo-shadow">
            <div class="logo">
              <i class="fa-solid fa-location-dot"></i>
            </div>
          </div>
        </div>
        <div class="logo-txt">
          <p class="mb-2">Part 1, A78, Abul Fazal Enclave, Jamia Nagar</p>
          <p class="mb-0">Okhla, New Delhi, Delhi 110025</p>
        </div>
      </div>
      <!-- End Box 3 -->

    </div>
    <!-- End Contact Method -->


    <div class="contact-div3">
      <!-- Start Query Form -->
      <div class="container">

        <h1 class="">Need a functional contact form?</h1>
        <p class="">
          Please write us at <u> help@SquareTabs.com</u> with any questions,
          concerns, or technical problems. We cannot always write back to
          everyone, but we promise to read all of our messages.
        </p>
        <form method="POST" action="/msg_received" name="RegForm" onsubmit="return FormValidation(event)">
          <div class="first-line">
            <p>
              <input type="text" id="name" name="name" placeholder=" Name" />
              <span class="error-message" id="nameError"></span>
            </p>
            <p>
                  <input type="text" id="EMail" name="email" placeholder="xyz@example.com" />
                  <span class="error-message" id="emailError"></span>
              </p>

          </div>
          <div class="second-line">
            <p>
              <input type="text" id="Address" name="address" placeholder="Address " />
              <span class="error-message" id="addressError"></span>
            </p>

            <p>
              <input type="tel" id="phone" name="phno" placeholder="Phone : +91 " />
              <span class="error-message" id="phoneError"></span>
            </p>
          </div>
          <div class="third-line">
            <p>
              <input type="text" id="Subject" name="subject" placeholder="Subject" />
              <span class="error-message" id="subjectError"></span>
            </p>
          </div>
          <div class="fourth-line">
            <p>
              <textarea type="text" id="description" name="description" id="" cols="30" rows="10"
                placeholder="Leave your msg here"></textarea>
              <span class="error-message" id="descriptionError"></span>
            </p>
          </div>
          <p>
            <input type="submit" value="Send" id="submit" />
            <input type="reset" value="Reset" name="Reset" onclick="resetForm()" />
          </p>


          <div class="sub_msg">
            <% if(locals.flag) { %>
              <div>Your message was sent successfully ! ! !</div>

                       <% } %>
          </div>
        </form>
      </div>
      <!-- End Query Form -->

      <!--Start Location at Google Map -->
      <div class="location">
        <iframe class="w-100 rounded"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.458973290374!2d77.29204741111872!3d28.55597737560534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce50210ea5327%3A0x90a08018707ae2cf!2sMarkaz%20Hostel%20Building!5e0!3m2!1sen!2sin!4v1705692349533!5m2!1sen!2sin"
          frameborder="0" style="height: 100%; min-height: 300px; border: 0" allowfullscreen="" aria-hidden="false"
          tabindex="0" alt="Our location"></iframe>
      </div>
      <!--End Location at Google Map -->
    </div>
  </div>
  <!-- Start Contact Section -->


  <!-- Start Footer Section -->
  <footer>
    <div class="content">
      <!-- Start Footer Top Part -->
      <div class="bottom">
        <!-- Start Logo Details -->
        <div class="logo-details">
          <img src="../images/logo1.jpg" alt="">
          <span class="logo_name">SquareTabs</span>
        </div>
        <!-- End Logo Details -->
        <!-- Start Social Media Icon Section -->
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
        <!-- End Social Media Icon Section -->
      </div>
      <!-- End Footer Top Part -->

      <hr>

      <!-- Start Footer Body -->
      <div class="link-boxes">
        <!-- Start Menu Section-->
        <ul class="box box1">
          <li class="link_name">Menu</li>
          <li><a href="../index">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/hire">Hiring</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <!-- End Menu Section-->

        <!-- Start Service Section-->
        <ul class="box box2">
          <li class="link_name">Services</li>
          <li><a href="#">Website Design</a></li>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Product Modeling</a></li>
          <li><a href="#">Software Development</a></li>
          <li><a href="#">Software Testing</a></li>
          <li><a href="#">Social Media Handling </a></li>
        </ul>
        <!-- End Service Section-->

        <!-- Start Address Section-->
        <ul class="box box3">
          <li class="link_name">Address</li>
          <li><a href="#">Part 1, A71, Abul Fazal Enclave,</a></li>
          <li><a href="#">Jamia Nagar, Okhla, New Delhi</a></li>
          <li><a href="#">Delhi,110025</a></li>
        </ul>
        <!-- End Address Section-->

        <!-- Start Image Section-->
        <ul class="box input-box">
          <!-- Start Image Slider -->
          <div class="ads">
            <div class="images">
              <img src="../images/a1.jpg">
              <img src="../images/a2.jpg">
              <img src="../images/a3.jpg">
              <img src="../images/a4.jpg">
              <img src="../images/a5.jpg">
              <img src="../images/a6.jpg">
              <img src="../images/a7.jpg">
              <img src="../images/a8.jpg">
              <img src="../images/a9.jpg">
              <img src="../images/a10.jpg">
            </div>
          </div>
          <!-- Start Image Slider -->
        </ul>
        <!-- End Image Section-->
      </div>
      <!-- End Footer Body -->
    </div>


    <!-- Start Footer bottom Part -->
    <div class="footer-txt">
      <div class="footer-txt-content">
        <!-- Start Footer bottom  Left Part -->
        <div class="policy_terms">
          <h4>Privacy Policy</h4>
          <h4>Terms & Conditions</h4>
        </div>
        <!-- End Footer bottom  Left Part -->
        <!-- Start Footer bottom  Right Part -->
        <div class="copyright_text">
          <h4>Copyright ©2024 SquareTabs. </h4>
          <h4>All rights reserved.</span></h4>
        </div>
        <!-- End Footer bottom  Right Part -->
      </div>
    </div>
    <!-- End Footer bottom Part -->
  </footer>
  <!-- End Footer Sectiion -->




  <!-- JavaScript FIle Link -->
  <script src="../javascripts/contact.js"></script>

</body>

</html>
