<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../stylesheets/service.css">
  <title>SquareTabs | Services</title>
  <link rel="icon" type="png" href="../images/logo1.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>

<body>
   <!-- Start First Section -->
   <div class="first-section">
     <!-- Start Nav Bar -->
     <nav>
       <ul>
         <!-- Start Logo Part -->
         <li class="logo">
           <img src="../images/logo1.jpg" alt="">
           <span>Square</span>Tabs
         </li>
         <!-- End Logo Part -->
 
         <!-- Start Navbar Content -->
         <div class="items">
           <li><a href="../index">Home</a></li>
           <li><a href="/hire">Hiring</a></li>
           <li><a href="/contact">Contact Us</a></li>
           <!-- Start Navbar Content SideNavbar Open with Hamburger -->
           <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="../index">Home</a>
             <a href="/about">About Us</a>
             <a href="/service">Services</a>
             <a href="/blog">Blog</a>
             <a href="/hire">Hiring</a>
             <a href="/contact">Contact Us</a>
           </div>
           <!-- End Navbar Content SideNavbar Open with Hamburger -->
 
           <!-- Hamburger For Small Screen-->
           <li class="btn hamburger"><span class="fas fa-bars"></span></li>
         </div>
         <!-- ENd Navbar Content -->
       </ul>
     </nav>
     <!-- End Nav Bar -->
   </div>
   <!-- End First Section -->
 



 <!-- Start Second Section -->
 <div class="section-2">
    <div class="card-section">
       <!-- Start Section Heading -->
       <div class="section-heading">
          <h3>Remember Us For</h3>
          <div class="underline">
             <h1>OUR SERVICES</h1>
          </div>
       </div>
       <!-- End Section Heading -->

       <!-- Start Cards -->
       <div class="cards">
          <!-- Start Card 1 -->
          <div class="card1 card" style="background-color: #FF8A76;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Website Design</h3>
             </div>
             <div class="card-txt">
                <span>
                   Crafts visually appealing and user-friendly websites that not only reflect your brand identity but
                   also ensure a seamless and engaging user experience.
                </span>
             </div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 1 -->
          <!-- Start Card 2 -->
          <div class="card2 card" style="background-color:#FFCC67;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Graphic Design</h3>
             </div>
             <div class="card-txt"> Elevate your brand with captivating visuals. Our graphic design services cover
                everything from logos and branding materials to marketing collateral.</div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 2 -->
          <!-- Start Card 3 -->
          <div class="card3 card" style="background-color: #01A95A;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Product Modeling</h3>
             </div>
             <div class="card-txt"> Transform ideas into stunning 3D models for visualizing and showcasing products
                with precision and realism. </div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 3 -->
          <!-- Start Card 4 -->
          <div class="card4 card" style="background-color: #F6748C;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Software Development</h3>
             </div>
             <div class="card-txt">Transform concepts into powerful applications, utilizing cutting-edge technologies
                tailored to meet your unique needs. </div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 4 -->
          <!-- Start Card 5 -->
          <div class="card5 card" style="background-color: #757272;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Software Testing</h3>
             </div>
             <div class="card-txt">Ensure software reliability and performance through rigorous testing to meet the
                highest standards of functionality and security.

             </div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 5 -->
          <!-- Start Card 6 -->
          <div class="card6 card" style="background-color: #4fc0f4;">
             <div class="card-top">
                <i class="fab fa-slack"></i>
                <h3>Social Media Handling</h3>
             </div>
             <div class="card-txt">Elevate and boost your online presence with strategic social media management,
                fostering engagement and enhancing brand visibility.
             </div>
             <button class="card-btn"> Explore</button>
          </div>
          <!-- End Card 6 -->
       </div>
       <!-- End Cards -->
    </div>
 </div>
 <!-- End Second Section -->





  <!-- Start Footer Section -->
  <footer>
    <div class="content">
      <!-- Start Footer Top Part -->
      <div class="bottom">
        <!-- Start Logo Details -->
        <div class="logo-details">
          <img src="../images/logo1.jpg" alt="">
          <span class="logo_name">SquareTabs</span>
        </div>
        <!-- End Logo Details -->
        <!-- Start Social Media Icon Section -->
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
        <!-- End Social Media Icon Section -->
      </div>
      <!-- End Footer Top Part -->

      <hr>

      <!-- Start Footer Body -->
      <div class="link-boxes">
        <!-- Start Menu Section-->
        <ul class="box box1">
          <li class="link_name">Menu</li>
          <li><a href="../index">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/hire">Hiring</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <!-- End Menu Section-->

        <!-- Start Service Section-->
        <ul class="box box2">
          <li class="link_name">Services</li>
          <li><a href="#">Website Design</a></li>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Product Modeling</a></li>
          <li><a href="#">Software Development</a></li>
          <li><a href="#">Software Testing</a></li>
          <li><a href="#">Social Media Handling </a></li>
        </ul>
        <!-- End Service Section-->

        <!-- Start Address Section-->
        <ul class="box box3">
          <li class="link_name">Address</li>
          <li><a href="#">Part 1, A71, Abul Fazal Enclave,</a></li>
          <li><a href="#">Jamia Nagar, Okhla, New Delhi</a></li>
          <li><a href="#">Delhi,110025</a></li>
        </ul>
        <!-- End Address Section-->

        <!-- Start Image Section-->
        <ul class="box input-box">
          <!-- Start Image Slider -->
          <div class="ads">
            <div class="images">
              <img src="../images/a1.jpg">
              <img src="../images/a2.jpg">
              <img src="../images/a3.jpg">
              <img src="../images/a4.jpg">
              <img src="../images/a5.jpg">
              <img src="../images/a6.jpg">
              <img src="../images/a7.jpg">
              <img src="../images/a8.jpg">
              <img src="../images/a9.jpg">
              <img src="../images/a10.jpg">
            </div>
          </div>
          <!-- Start Image Slider -->
        </ul>
        <!-- End Image Section-->
      </div>
      <!-- End Footer Body -->
    </div>


    <!-- Start Footer bottom Part -->
    <div class="footer-txt">
      <!-- Start Footer bottom  Left Part -->
      <div class="policy_terms">
        <h4>Privacy Policy</h4>
        <h4>Terms & Conditions</h4>
      </div>
      <!-- End Footer bottom  Left Part -->
      <!-- Start Footer bottom  Right Part -->
      <div class="copyright_text">
        <h4>Copyright ©2024 SquareTabs. </h4>
        <h4>All rights reserved.</span></h4>
      </div>
      <!-- End Footer bottom  Right Part -->
    </div>
    <!-- End Footer bottom Part -->
  </footer>
  <!-- End Footer Sectiion -->



  <!-- JavaScript FIle Link -->
  <script src="../javascripts/service.js"></script>

</body>

</html>
